<ul id="nav-tree" class="treelist">
	<li><a href="{{ site.url }}/license/">Licence</a>
		<ul>
			<li><a href="{{ site.url }}/license/license.html">Apache 2</a></li>
			<li><a href="{{ site.url }}/license/contributor-agreements/">Contributor Agreements</a>
				<ul>
					<li><a href="{{ site.url }}/license/contributor-agreements/cla-individual.html">Individual CLA</a></li>
					<li><a href="{{ site.url }}/license/contributor-agreements/cla-corporate.html">Corporate CLA</a></li>
					<li><a href="{{ site.url }}/license/contributor-agreements/update-corporate.html">Corporate Update</a></li>
				</ul>
			</li>
		</ul>
	</li>
</ul>