<ul id="nav-tree" class="treelist">
	<li><a href="{{ site.url }}/contribute/">Contributing</a>
		<ul>
			<li><a href="{{ site.url }}/contribute/code.html">Code</a></li>
			<li><a href="{{ site.url }}/contribute/documentation.html">Documentation</a></li>			
		</ul>
	</li>
	<li><a href="{{ site.url }}/design/">Design Notes</a>
		<ul>
			<li><a href="{{ site.url }}/design/license.html">AMIs</a></li>
			<li><a href="{{ site.url }}/design/availability-zones-and-regions.html">Availability Zones and Regions</a></li>
			<li><a href="{{ site.url }}/design/ec2-resource-mapping.html">EC2 Resource Mapping</a></li>
			<li><a href="{{ site.url }}/design/ec2-version.html">EC2 Version</a></li>
			<li><a href="{{ site.url }}/design/key-pairs.html">SSH Key Pairs</a></li>			
		</ul>
	</li>
	<li><a href="{{ site.url }}/license/">Licence</a>
		<ul>
			<li><a href="{{ site.url }}/license/license.html">Apache 2</a></li>
			<li><a href="{{ site.url }}/license/contributor-agreements/">Contributor Agreements</a>
				<ul>
					<li><a href="{{ site.url }}/license/contributor-agreements/cla-individual.html">Individual CLA</a></li>
					<li><a href="{{ site.url }}/license/contributor-agreements/cla-corporate.html">Corporate CLA</a></li>
					<li><a href="{{ site.url }}/license/contributor-agreements/update-corporate.html">Corporate Update</a></li>
				</ul>
			</li>
		</ul>
	</li>
</ul>